.title-divider{
	margin: 0 10px;
	font-size: 85%;
	border-width: 1px;
	border-color: #d8d8d8;
	padding: 10px 15px 5px;
	font-weight: bold;
	color: rgba(0,0,0,.6);
}
.chart-wrapper{
	border-width: 1px 0;
	border-style: solid;
	border-color: #d8d8d8;
	border-radius: 0;
	box-shadow: none;
}
.information{
	padding: 10px;
	margin: 0 10px;
}