@import "../../../../variable.scss";

@media screen and (max-width:450px){
	.campaignform-wrapper{
		campaignform-preview{
			display: none;
		}
		.detail-form .preview-toggle{
			display: none;
		}
	}
}

@media screen and (min-width:451px) and (max-width:767px){
	.campaignform-wrapper{
		campaignform-preview{
			display: none;
		}
		.detail-form .preview-toggle{
			display: none;
		}
	}
}

@media screen and (min-width:768px) and (max-width:991px){
	.campaignform-wrapper{
		.detail-form .preview-toggle{
			display: flex;
			justify-content: flex-end;
			align-items: center;
		}
	}
}

@media screen and (min-width:992px) and (max-width:1200px){
	.campaignform-wrapper{
		.detail-form .preview-toggle{
			display: flex;
			justify-content: flex-end;
			align-items: center;
		}
	}
}

@media screen and (min-width:1201px){
	.campaignform-wrapper{
		.detail-form .preview-toggle{
			display: flex;
			justify-content: flex-end;
			align-items: center;
		}
	}
}

.campaignform-wrapper{
	.header{
		padding: 10px 0 0;
		margin: 0 10px;
		.navi{
			display: flex;
			justify-content: flex-start;
			border-bottom: 1px solid #d8d8d8;
			.navi-list{
				padding: 10px 20px;
				border-width: 1px 1px 0 1px;
				border-color: #d8d8d8;
				border-style: solid;
				background-color: #f4f4f4;
				border-radius: 4px 4px 0 0;
				margin-left: 5px;
				&.active{
					margin-bottom: -1px;
					background-color: white;
				}
				&:not(.active){
					padding: 8px 20px 3px;
					margin-top: 9px;
					color: #888;
					transition: 0.12s all;
					cursor: pointer;
					box-shadow: inset 0 -5px 5px -5px rgba(0,0,0,.15);
					border-color: #e5e5e5;
					&:hover{
						padding: 10px 20px;
						margin-top: 0;
						border-color: #d8d8d8;
					}
				}
			}
		}
	}
	.detail-container{
		background-color: white;
		padding: 20px 10px;
		margin: 0 10px;
		display: flex;
		align-items: flex-start;
		.title{
			color: #777;
			font-weight: bold;
			padding: 4px 3px;
			text-transform: uppercase;
		}
		.detail-form{
			width: 100%;
			.input-wrapper{
				padding: 0 0 10px;
				margin-bottom: 10px;
				.preview-toggle{
					.btn{
						fa-icon{
							margin-right: 8px;
						}
					}
				}
				.recipient-wrapper{
					border-radius: 4px;
					background-color: white;
					border: 1px solid #d8d8d8;
					margin-top: 10px;
					&.basic{
						padding: 15px;
						.form-check{
							min-width: 200px;
						}
					}
					&.query{
						padding: 5px;
						textarea{
							line-height: 1.1;
							font-family: "Consolas";
							font-weight: bold;
							font-size: 85%;
							&::placeholder{
								color: lighten($primary-color, 20%);
							}
						}
						.sub-title{
							padding: 10px 7px;
						}
						.legends{
							padding: 10px 24px;
							margin: 0;
						}
					}
				}
				.result-wrapper{
					.uploadimage-result{
						display: block;
						width: 100%;
						padding: 5px;
						border-radius: 4px;
						background-color: #fafafa;
						border: 1px solid #d8d8d8;
						margin-top: 10px;
						.file{
							display: inline-flex;
							justify-content: center;
							align-items: center;
							width: 100px;
							height: 100px;
							border: 1px solid #aaa;
							border-radius: 10px;
							background-color: white;
							background-position: center;
							background-repeat: no-repeat;
							background-size: contain;
							cursor: pointer;
							margin: 5px;
							&:not(.selected):hover{
								border: 1px solid yellowgreen;
								&::after{
									content: "Use";
									position: absolute;
									width: 100px;
									height: 100px;
									display: flex;
									justify-content: center;
									align-items: center;
									background-color: rgba(0, 0, 0, 0.5);
									color: white;
									border-radius: 10px;
								}
							}
							img{
								max-width: 100%;
								max-height: 100%;				
								border-radius: 11px;			
							}
							&.selected{
								&::after{
									content: "Checked";
									position: absolute;
									width: 100px;
									height: 100px;
									display: flex;
									justify-content: center;
									align-items: center;
									background-color: rgba(0, 0, 0, 0.5);
									color: white;
									border-radius: 10px;
								}
							}
							.file-name{
								max-width: 100%;
								max-height: 100%;
								overflow: hidden;
								text-overflow: ellipsis;
							}
						}
					}
					.info{
						margin-top: 10px;
						padding: 10px 5px;
						line-height: 1.4;
						font-size: 87%;
					}
				}
			}
		}
		campaignform-preview{
			padding-left: 20px;
			width: 100%;
			max-width: 570px;
		}
	}
	.form-check{
		margin: 3px 10px;
		display: inline-block;
	}
	.footer-container{
		display: flex;
		justify-content: center;
		align-items: flex-start;
		padding: 20px 10px;
		margin: 0 10px 40px;
		.right{
			flex: 1;
			display: flex;
			justify-content: flex-end;
			align-items: center;
			.btn{
				margin-left: 10px;
			}
		}
	}
}



.uploadfilecontainer {
	height: 50px;
	border: 1px solid #d8d8d8;
	border-radius: 4px;
	padding: 0 20px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	color: rgba(0,0,0,.55);
	background-color: #fafafa;
	font-weight: bold;
	font-size: 85%;
}

.uploadfilecontainer:hover {
	cursor: pointer;
	border-color: lighten($primary-color, 10%) !important;
	background-color: white;
	color: rgba(0,0,0,.3);
}

.files-list {
	display: flex;
	justify-content: space-between;
	width: 80%;
	margin: 10px auto;
	background: #ffffff;
	border: 1px dashed;
	border-radius: 12px;
	padding: 5px;
	color: #1c8adb;
}

.files-list .delete-file {
	background: transparent;
	border: none;
	cursor: pointer;
}

.files-list .delete-file img {
	width: 30px;
}

.CodeMirror-wrap pre{
	word-break: break-word;
}