<div class="wrapper-loading" *ngIf="isLoading">
	<i appLoadingSkyporter size="lg"></i>
</div>
<div class="smallgroup-form" *ngIf='!isLoading'>
	<div class="smallgroup-type-wrapper">
		<div class="header">
			<div class="navi">
				<div class="navi-list" [ngClass]="{'active':currentViewIndex === idx}" (click)="changeViewIndex(idx)"
					*ngFor="let type of smallGroupType; let idx = index">
					{{type.name}}
				</div>
			</div>
		</div>
		<ng-container>
			<div class="detail">
				<comp-inputform
					type="searchsingle"
					[title]="smallGroup.sgCampus.title"
					[(value)]="smallGroup.sgCampus.value"
					[dropdownLoading]="isLoadingSelectedSgCampus"
					[options]="campusList"
					perline="2"
				></comp-inputform>
				<comp-inputform
					type="searchsingle"
					[title]="smallGroup.sgLevel.title"
					(valueChange)="onChangeSgLevel($event)"
					[(value)]="smallGroup.sgLevel.value"
					[dropdownLoading]="isLoadingSelectedSgLevel"
					[options]="levelList"
					perline="2"
				></comp-inputform>
				<ng-container *ngIf="smallGroupType[currentViewIndex].value === 'Multiplication'">
					<comp-inputform
						type="searchsingle"
						title="Parent Campus"
						(valueChange)="onChangeParentCampusSmallGroup($event)"
						[(value)]="selectedParentCampus"
						[dropdownLoading]="isLoadingSelectedParentCampus"
						[options]="sgParentCampusList"
						perline="2"
					></comp-inputform>
					<comp-inputform
						type="searchsingle"
						[title]="smallGroup.sgParent.title"
						(valueChange)="onChangeSgParentSmallGroup($event)"
						[(value)]="smallGroup.sgParent.value"
						[options]="sgParentList"
						[dropdownLoading]="isLoadingSelectedParentSg"
						[disabled]="isLoadingSelectedParentSg"
						perline="2"
					></comp-inputform>
				</ng-container>
				<comp-inputform
					type="text"
					[title]="smallGroup.sgName.title"
					[(value)]="smallGroup.sgName.value"
					perline="2"
				></comp-inputform>
				<comp-inputform
					type="searchsingle"
					[title]="smallGroup.sgCategory.title"
					[(value)]="smallGroup.sgCategory.value"
					[dropdownLoading]="isLoadingSelectedSgCategory"
					[options]="sgCategoryList"
					perline="2"
				></comp-inputform>
				<comp-inputform
					type="searchsingle"
					[title]="smallGroup.sgLeader.title"
					[(value)]="smallGroup.sgLeader.value"
					[options]="sgLeaderList"
					[dropdownLoading]="isLoadingSelectedSgLeader"
					[disabled]="((smallGroupType[currentViewIndex].value === 'Multiplication' ? (!smallGroup.sgParent.value || !smallGroup.sgLevel.value) : !smallGroup.sgLevel.value) || isLoadingSelectedSgLeader) || isEdit"
					perline="2"
					(valueChange)="onChangeSgLeader($event)"
				></comp-inputform>
				<comp-inputform
					type="searchsingle"
					[title]="smallGroup.sgLeader2.title"
					[(value)]="smallGroup.sgLeader2.value"
					[options]="sgLeaderList2"
					[dropdownLoading]="isLoadingSelectedSgLeader2"
					[disabled]="((smallGroupType[currentViewIndex].value === 'Multiplication' ? (!smallGroup.sgParent.value || !smallGroup.sgLevel.value) : !smallGroup.sgLevel.value) || isLoadingSelectedSgLeader) || isEdit"
					perline="2"
				></comp-inputform>
				<ng-container *ngFor="let leader of replacementLeaderList;let idx = index">
					<ng-container *ngIf="leader.isLoading">
						<i appLoadingSkyporter size="sm"></i>
					</ng-container>
					<ng-container *ngIf="!leader.isLoading && leader.isBottom == false && smallGroupType[currentViewIndex].value === 'Multiplication'">
						<comp-inputform
							type="searchsingle"
							[title]="leader.title"
							[(value)]="leader.smallgroupmember_id"
							[options]="leader.options"
							[dropdownLoading]="leader.isLoading"
							[disabled]="((smallGroupType[currentViewIndex].value === 'Multiplication' ? (!smallGroup.sgParent.value || !smallGroup.sgLevel.value) : !smallGroup.sgLevel.value) || leader.isLoading) || isEdit"
							(valueChange)="getSgCoreteams($event, idx+1)"
						></comp-inputform>
					</ng-container>
				</ng-container>
				<comp-inputform
					*ngIf="!isEdit && smallGroupType[currentViewIndex].value === 'Multiplication'"
					type="searchmultiple"
					[title]="smallGroup.sgMembers.title"
					[(value)]="smallGroup.sgMembers.value"
					[options]="sgMemberList"
					[dropdownLoading]="isLoadingSgMemberList"
					[disabled]="((smallGroupType[currentViewIndex].value === 'Multiplication' ? (!smallGroup.sgParent.value || !smallGroup.sgLevel.value || !smallGroup.sgLeader.value) : !smallGroup.sgLeader.value) || isLoadingSgMemberList) || isEdit"
				></comp-inputform>
				<comp-inputform
					type="searchsingle"
					[title]="smallGroup.sgUpperLeader.title"
					[(value)]="smallGroup.sgUpperLeader.value"
					[options]="upperLevelSglNameList"
					[dropdownLoading]="isLoadingSelectedUpperLevelSglName"
					[disabled]="(smallGroupType[currentViewIndex].value === 'Multiplication' ? (!smallGroup.sgParent.value || !smallGroup.sgLevel.value) : !smallGroup.sgLevel.value) || isLoadingSelectedUpperLevelSglName"
					perline="1"
				></comp-inputform>
				<comp-inputform
					type="textarea"
					[title]="smallGroup.sgFullAddress.title"
					(valueChange)="onChangeSgFullAddress($event)"
					[(value)]="smallGroup.sgFullAddress.value"
					perline="1"
				></comp-inputform>
				<comp-inputform
					type="text"
					[title]="smallGroup.sgShortAddress.title"
					[(value)]="smallGroup.sgShortAddress.value"
					perline="1"
				></comp-inputform>
				<comp-inputform
					type="searchsingle"
					[title]="smallGroup.sgRegion.title"
					[(value)]="smallGroup.sgRegion.value"
					[dropdownLoading]="isLoadingSelectedSgRegion"
					[options]="sgRegionList"
					perline="2"
				></comp-inputform>
				<comp-inputform
					type="text"
					[title]="smallGroup.sgPostalCode.title"
					[(value)]="smallGroup.sgPostalCode.value"
					perline="2"
				></comp-inputform>
				<comp-inputform
					type="searchsingle"
					[title]="smallGroup.sgDay.title"
					[(value)]="smallGroup.sgDay.value"
					[dropdownLoading]="isLoadingSelectedScheduleDay"
					[options]="sgScheduleDayList"
					perline="2"
				></comp-inputform>
				<comp-inputform
					type="time"
					[title]="smallGroup.sgTime.title"
					[(value)]="smallGroup.sgTime.value"
					perline="2"
				></comp-inputform>
				<comp-inputform
					type="searchsingle"
					[title]="smallGroup.sgStatus.title"
					[(value)]="smallGroup.sgStatus.value"
					[dropdownLoading]="isLoadingSelectedSgStatus"
					[options]="sgStatusList"
					perline="2"
				></comp-inputform>
				<comp-inputform
					type="date"
					[title]="smallGroup.sgEstablishedDate.title"
					[(value)]="smallGroup.sgEstablishedDate.value"
					perline="2"
				></comp-inputform>
				<comp-inputform
					type="number"
					[title]="smallGroup.sgAgeFrom.title"
					(valueChange)="onChangeSgAgeFrom($event)"
					[(value)]="smallGroup.sgAgeFrom.value"
					perline="2"
				></comp-inputform>
				<comp-inputform
					type="number"
					[title]="smallGroup.sgAgeTo.title"
					(valueChange)="onChangeSgAgeTo($event)"
					[(value)]="smallGroup.sgAgeTo.value"
					perline="2"
				></comp-inputform>
				<comp-inputform
					type="simplemde"
					[title]="smallGroup.sgDescription.title"
					[optionsMde]="smallGroup.sgDescription.config"
					[withEmoji]="smallGroup.sgDescription.withEmoji"
					[(value)]="smallGroup.sgDescription.value"
					perline="1"
				></comp-inputform>
			</div>
		</ng-container>
		<div class="footer-container">
			<div class="right" *ngIf="loadingSave">
				<i appLoadingSkyporter size="md"></i>
			</div>
			<div class="right" *ngIf="!loadingSave">
				<button class="btn btn-skyporter" (click)="saveSmallGroup()">
					Save
				</button>
			</div>
		</div>
	</div>
</div>