.smallgroupdashboard-wrapper{
	padding: 0 10px;
	.report-tab{
		padding: 20px 0;
		.navi{
			display: flex;
			justify-content: flex-start;
			border-bottom: 1px solid #d8d8d8;
			.navi-list{
				padding: 10px 20px;
				border-width: 1px 1px 0 1px;
				border-color: #d8d8d8;
				border-style: solid;
				background-color: #f4f4f4;
				border-radius: 4px 4px 0 0;
				margin-left: 5px;
				&.active{
					margin-bottom: -1px;
					background-color: white;
				}
				&:not(.active){
					padding: 8px 20px 3px;
					margin-top: 9px;
					color: #888;
					transition: 0.12s all;
					cursor: pointer;
					box-shadow: inset 0 -5px 5px -5px rgba(0,0,0,.15);
					border-color: #e5e5e5;
					&:hover{
						padding: 10px 20px;
						margin-top: 0;
						border-color: #d8d8d8;
					}
				}
			}
		}
		.tab-container{
			background-color: white;
			border-width: 0 1px 1px;
			border-style: solid;
			border-color: #d8d8d8;
			border-radius: 0 0 6px 6px;
			&.hide{
				display: none;
			}
		}
	}
}