@import "../../../variable.scss";

.invite-header{
	display: flex;
	background-color: white;
	.title{
		margin: 10px 20px;
		display: flex;
		flex: 1;
		align-items: center;
		color: $primary-color;
		cursor: default;
		font-size: 120%;
	}
	.action{
		margin: 0px 20px;
		display: flex;
		flex: 1;
		justify-content: flex-end;
		align-items: center;
		color: $primary-color;
		font-size: 80%;
		.btn{
			background-color: white;
			color: $primary-color;
			border: none;
			&:hover{
				color: #a00;
			}
		}
	}
}

.invite-body{
	display: flex;
	flex-direction: column;
	background-color: whitesmoke;
	padding: 5px 15px 15px 15px;
}

.invite-footer{
	display: flex;
	.btn-negative{
		padding: 10px;
		display: flex;
		flex: 1;
		color: white;
		background-color: lightgrey;
		justify-content: center;
		border: none;
		&:hover{
			background-color: darken(lightgrey, 10%);
		}
	}
	.btn-positive{
		padding: 10px;
		display: flex;
		flex: 1;
		color: white;
		background-color: $primary-color;
		justify-content: center;
		border: none;
		&:hover{
			background-color: darken($primary-color, 10%);
		}
	}
}