
.programcodeform-wrapper{
	display: flex;
	justify-content: center;
	align-items: flex-start;
	margin: 20px 10px;
	padding: 0 10px;
	div{
		width: 100%;
		background-color: white;
		box-shadow: 0 0 5px 5px rgba(0,0,0,.04);
		border-radius: 4px;
		&.programcodeform{
			padding: 10px 20px;
			.list{
				width: 50%;
			}
			.template-wrapper {
				margin: 10px 0px;
				padding: 15px 15px;
				background-color: #FFF3E0;
				.notes-wrapper {
					padding: 8px 16px;
					border: 1px solid #fb8c00;
					background-color: #fb8c00;
					border-radius: 4px;
					color: #fff;
					display: flex;
					flex-wrap: wrap;
					margin-bottom: 0.5rem;
					div {
						background-color: transparent;
						box-shadow: none;
						&.icon {
							display: flex;
							align-items: center;
							justify-content: center;
							width: 100%;
							max-width: 5%;
							margin-right: 10px;
							font-size: 20px;
						}
						&.content {
							width: 100%;
							max-width: 90%;
							display: flex;
							align-items: center;
						}
					}
				}
			}
			.right{
				float: right;
			}
		}
		&.programcodeform-preview{
			max-width: 300px;
			margin-left: 10px;
			padding: 5px 7px;
		}
	}
}

@media screen and (max-width:450px){
	
.programcodeform-wrapper {
	div{ 
		&.programcodeform {
			.template-wrapper {
				.notes-wrapper {
					div {
						&.icon {
							max-width: 100%;
						}
						&.content {
							max-width: 100%;
							text-align: center;
						}
					}
				}
			}
		}
	}
}
}

.construct{
	width: 100%;
	min-height: 500px;
	display: flex;
	justify-content: center;
	align-items: center;
	img{
		width: 50px;
	}
}