@import "../../../../../../variable.scss";

.list-wrapper{
	padding: 10px 10px 15px 10px;
	.title{
		// padding: 25px 0px 20px 0px;
		font-size: 130%;
		display:block;
		text-transform: uppercase;
		text-align: left;
		line-height: 1.1;
		font-weight: bold;
		color: rgba(0,0,0,.5);
	}

	comp-listtable{
		.listtable-wrapper{
			padding: 0px !important;
			.pretable-wrapper{
				margin-bottom: 0px !important;
			}
		}
	}
}
