<div class="linechart-wrapper" *ngIf="dataSet != null">
	<div class="title">
		{{title}}
	</div>
	<div *ngIf="dataSet != null" style="display: block; width: 100%; height: 220px;">
		<canvas baseChart 
			[datasets]="dataSet" 
			[labels]="labels" 
			[options]="lineChartOptions"
			[colors]="lineChartColors" 
			[legend]="lineChartLegend" 
			[chartType]="lineChartType" 
			[plugins]="lineChartPlugins"
		></canvas>
	</div>
	<ngx-slider 
		(valueChange)="refreshXAxis()" 
		[(value)]="minX" 
		[(highValue)]="maxX" 
		[options]="options"
	></ngx-slider>
</div>

<div class="linechart-wrapper loading" *ngIf="dataSet == null">
	<i appLoadingSkyporter size="sm"></i>
	<span class="text">
		Please wait
	</span>
</div>