<ng-container *ngIf="keys==null||datas==null">	
	<div class="listtable-wrapper">
		<!-- FIRST LOADING -->
		<div class="construct">
			<i appLoadingSkyporter size="md"></i>
		</div>
	</div>
</ng-container>

<ng-container *ngIf="keys!=null&&datas!=null">
	<div class="listtable-wrapper">
		<ng-container *ngIf="navigations!=null">
			<div class="pretable-wrapper">
				<div class="pretable-left">
					<button *ngIf="filterOptions.isFilter" class="btn btn-outline-skyporter btn-filter" (click)="showPopup('filter')">FILTER</button>
					<button *ngIf="filterOptions.isExport" class="btn btn-outline-skyporter btn-export" (click)="getFunctionExport()">
						EXPORT
						<div *ngIf="filterOptions.dropdownExportMenu && filterOptions.dropdownExportMenu.length" class="dropdown-content">
							<div *ngFor="let item of filterOptions.dropdownExportMenu" class="btn-export-item" (click)="showPopup('export', item)">
								<small>
									{{ item }}
								</small>
							</div>
						</div>
					</button>
					<button class="btn btn-outline-skyporter btn-filter" (click)="generateSeat()">
						GENERATE SEAT
					</button>
				</div>
				<div class="pretable-right" *ngIf="navigations.search_by!=null">
					<div class="input-group search">
						<input type="text" id="list-search" class="form-control" placeholder="{{navigations.search_by}}" aria-label="Search to table" [(ngModel)]="keyword" (keydown)="onSearchKeydown($event)">
						<div class="input-group-append">
							<button class="btn" type="button" (click)="searchKeyword()">
								<fa-icon [icon]="fasSearch"></fa-icon>
							</button>
						</div>
					</div>
				</div>
			</div>
		</ng-container>

		<table class="table table-sm">
			<thead>
				<tr>
					<th [ngClass]="{'text-right':key.showtype==='number'||key.align==='right', 'text-center':key.align==='center'}" *ngFor="let key of keys">
						<button class="btn opacity-1" [disabled]="!key.opensort" type="button" (click)="sortColumn(key.sortcolumn)">
							{{key.label}}
							<ng-container *ngIf="key.value !== 'id' && key.opensort">
								<fa-icon [icon]="fadSortUp" *ngIf="key.sortorder=='ASC'"></fa-icon>
								<fa-icon [icon]="fadSortDown" *ngIf="key.sortorder=='DESC'"></fa-icon>
								<fa-icon [icon]="fadSort" *ngIf="key.sortorder==''"></fa-icon>
							</ng-container>
						</button>
					</th>
					<ng-container *ngIf="datas.length > 0">
						<th *ngIf="datas[0] && datas[0].actions!=null">
						</th>
					</ng-container>
				</tr>
			</thead>
			<tbody *ngIf="isloading">
				<tr>
					<td [attr.colspan]="keys.length+1">
						<div class="no-data loading-bar">
							<i appLoadingSkyporter size="md"></i>
						</div>
					</td>
				</tr>
			</tbody>
			<tbody *ngIf="datas.length===0 && isloading===false">
				<tr>
					<td [attr.colspan]="keys.length+1">
						<div class="no-data">
							<img src="./assets/icon/clouds.svg">
							<div class="pgf">
								Oh no! We have to catch some clouds that float away. There is no data on your request.
							</div>
						</div>
					</td>
				</tr>
			</tbody>
			<tbody *ngIf="datas.length>0 && isloading===false">
				<!-- DATA KALO ADA DATANYA -->
				<tr *ngFor="let data of datas; let i = index">
					<td [ngClass]="{'min-width':key.value=='id', 'text-right':key.showtype==='number'||key.align==='right', 'text-center':key.align==='center', 'xs-down-hide':key.priority==1, 'md-down-hide':key.priority==2, 'lg-down-hide':key.priority==3, 'attendance':key.showtype==='attendance'}" *ngFor="let key of keys">
						<!-- NULL VALUE -->
						<span *ngIf="data[key.value]==null">
							{{key.nullvalue}}
						</span>
						<!-- TEXT -->
						<ng-container *ngIf="key.showtype === 'text' && data[key.value]!=null">
							<span *ngIf="key.maxlength!=null" [innerHTML]="helper.truncateString(data[key.value], key.maxlength)">
							</span>
							<span *ngIf="key.maxlength==null" [innerHTML]="data[key.value]">
							</span>
						</ng-container>
						<!-- NUMBER -->
						<span *ngIf="key.showtype === 'number' && data[key.value]!=null">
							{{data[key.value]|number}}
						</span>
						<!-- ATTENDANCE CHECKBOX -->
						<ng-container *ngIf="key.showtype === 'attendance'">
							<div class="attendance-checkbox" [ngClass]="{'datetime':data[key.value]!=null}" *ngIf="data[key.value]!=null">
								<button class="btn btn-sm checked" (click)="toggleAttendance(data[key.value])" *ngIf="data[key.value].status">
									<fa-icon [icon]="fadCheckSquare" *ngIf="!data[key.value].loading" [fixedWidth]="true"></fa-icon>
									<fa-icon [icon]="fadSpinner" *ngIf="data[key.value].loading" [spin]="true" [fixedWidth]="true"></fa-icon>
								</button>
								<button class="btn btn-sm unchecked" (click)="toggleAttendance(data[key.value])" *ngIf="!data[key.value].status">
									<fa-icon [icon]="farSquare" *ngIf="!data[key.value].loading" [fixedWidth]="true"></fa-icon>
									<fa-icon [icon]="fadSpinner" *ngIf="data[key.value].loading" [spin]="true" [fixedWidth]="true"></fa-icon>
								</button>
							</div>
						</ng-container>
						<!-- END -->
					</td>
					<!-- ACTION -->
					<td class="min-width action" *ngIf="data.actions!=null">
						<button class="btn btn-sm" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<fa-icon [icon]="falEllipsisV"></fa-icon>
						</button>
						<div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
							<ng-container *ngFor="let action of data.actions">
								<a class="dropdown-item cursor-pointer" [ngClass]="{'danger':action.type=='danger'}" href="{{action.url}}" *ngIf="action.apiurl==null">
									{{action.label}}
								</a>
								<a class="dropdown-item cursor-pointer" [ngClass]="{'danger':action.type=='danger'}" *ngIf="action.apiurl!=null" (click)="doActionAPI(action.apiurl, action.apimethod, action.apiparams, action.type, action.message)">
									{{action.label}}
								</a>
							</ng-container>
						</div>
					</td>
				</tr>
			</tbody>
		</table>

		<ng-container *ngIf="navigations!=null">
			<div *ngIf="navigations.total" class="navi-info">
				Showing [&nbsp;<span class="text-bold clr-primary">{{navigations.from|number}}..{{navigations.to|number}}</span>&nbsp;] {{navigations.per_page|number}} of&nbsp;<span class="text-bold clr-primary">{{navigations.total|number}}</span>&nbsp;rows.
			</div>
			<div class="navi-wrapper" *ngIf="navigationLists.length > 0">
				<div class="navi-left">
					<ul>
						<ng-container *ngIf="!ispageone">
							<li>
								<button (click)="gotoPage(1)">
									1
								</button>
							</li>
							<ng-container *ngIf="!ispageoneafter">
								<li class="nobutton">
									<button disabled>
										...
									</button>
								</li>
							</ng-container>
						</ng-container>
						<ng-container *ngFor="let list of navigationLists">
							<ng-container *ngIf="list != null">
								<li *ngIf="list.isshow">
									<ng-container *ngIf="list.iscurrent">
										<button class="current">
											{{list.label}}
										</button>
									</ng-container>
									<ng-container *ngIf="!list.iscurrent">
										<button (click)="gotoPage(list.label)">
											{{list.label}}
										</button>
									</ng-container>
								</li>
							</ng-container>
						</ng-container>
						<ng-container *ngIf="!islastpage">
							<ng-container *ngIf="!islastpagebefore">
								<li class="nobutton">
									<button disabled>
										...
									</button>
								</li>
							</ng-container>
							<li>
								<button (click)="gotoPage(navigations.last_page)">
									{{navigations.last_page}}
								</button>
							</li>
						</ng-container>
					</ul>
				</div>
				<div class="navi-right">
					<button class="btn">
						Prev.
					</button>
					<button class="btn">
						Next
					</button>
				</div>
			</div>
		</ng-container>
	</div>
</ng-container>


<comp-exportfilter 
	#export
	dialogName="Export"
	[filterOptions]="filterOptions"
	(applyData)="generateExport($event)"
></comp-exportfilter>