.userlistrole-wrapper{
	padding: 10px;
	.action-wrapper{
		margin-bottom: 40px;
		padding: 0 10px;
		display: flex;
		justify-content: flex-end;
	}
}

.loading-wrapper{
	display: flex;
	min-height: 90vh;
	justify-content: center;
	align-items: center;
}