@import '../../../../variable.scss';

.wrapper-detail {
	display: flex;
	flex-wrap: wrap;
	padding: 8px 10px;
	margin: 0 10px 8px;
	.toolbar {
		width: 100%;
		margin-bottom: 1rem;
		display: flex;
		justify-content: space-between;
		.btn-export {
			margin: 0rem 0.5rem;
		}
	}
	.info {
		width: 100%;
		padding: 1rem;
		background-color: #fff;
		.content-info {
			line-height: 1;
		}
		.content-wrapper {
			margin-bottom: 0.5rem;
			.no-data {
				font-style: italic;
				line-height: 1;
				font-size: 80%;
			}
			.list {
				padding-left: 1rem;
			}
		}
		.section-wrapper {
			border-bottom: 2px solid #d9e4ed;
			margin-bottom: 1rem;
			padding-bottom: 0.5rem;
			&:last-of-type {
				border-bottom: 0px solid #fff;
			}
		}
	}
	.content {
		width: 100%;
		padding: 0px 1rem;
	}
}

.accordion {
	padding: 0.5rem;
	width: 100%;
	text-align: left;
	font-size: 15px;
	transition: 0.4s;
	border-radius: 0px;
}

.active {
	background-color: $primary-color;
	color: #fff;
}

.accordion:after {
	content: '\002B';
	font-weight: bold;
	float: right;
	margin-left: 5px;
}

.active:after {
	content: "\2212";
}

.panel {
	display: flex;
	flex-wrap: wrap;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.3s ease-out;
	.wrapper-card {
		padding: 5px;
		.card {
			box-shadow: 0 0 15px -3px rgba(0,0,0,.1),0 4px 6px -2px rgba(0,0,0,.05);
			.item-action{
				width: 100%;
				position: relative;
				> .wrapper{
					position: absolute;
					right: 0;
					color: #999;
					.btn{
						padding: 0 10px;
						color: darken($primary-color, 10%);
					}
					.dropdown-menu{
						.dropdown-item{
							padding-top: 10px;
							padding-bottom: 10px;
							transition: 0.2s all;
							cursor: pointer;
							&.danger{
								background-color: #c55;
								color: white;
								&:hover{
									background-color: #a33;
								}
							}
							&:not(.danger){
								background-color: transparent;
								&:hover{
									background-color: rgba(0,0,0,.05);
									color: darken($primary-color, 20%);
								}
							}
						}
					}
				}
			}
			.body {
				padding: 0.5rem;
				hr{
					margin: 3px 0 !important;
				}
				.wrapper-content {
					display: flex;
					justify-content: center;
					text-align: center;
					margin: 5px 0px;
					word-break: break-all;
					.avatar {
						display: flex;
						align-items: center;
						justify-content: center;
						background-position: center;
						background-size: cover;
						border-radius: 1000px;
						background-color: #ddd;
						border: 1px solid #ddd;
						margin-bottom: 5px;
						span {
							color: #fff;
							font-size: 40px;
						}
					}
				}
			}
			.position-wrapper {
				position: absolute;
				width: 0px;
				height: 0px;
				border-right: 40px solid transparent;
				&.tosca {
					border-top: 40px solid rgb(0, 165, 183);
				}
				.position {
					color: white;
					position: relative;
					top: -34px;
					width: 25px;
					left: 1px;
					text-align: center;
					font-size: 10px;
					font-family: arial;
					font-weight: bold;
					text-align: center;
					display: block;
					transform: rotate(-45deg);
				}
			}
		}
	}
}

/* Extra small devices (phones, 451px and down) */
@media screen and (max-width: 451px) {
	.wrapper-detail {
		.toolbar {
			display: block;
			button, a {
				display: block;
				width: 100%;
				margin: 0px 0px 0.5rem 0px!important;
			}
			.toolbar-left {
				width: 100%;
			}
			.toolbar-right {
				width: 100%;
			}
		}
		.info {
			margin-bottom: 1rem;
		}
	}

	.content {
		.panel {
			.wrapper-card {
				width: 100%;
				.card {
					.body {
						.wrapper-content {
							.avatar {
								width: 75px;
								height: 75px;
							}
						}
					}
				}
			}
		}
	}
}

/* Small devices (portrait tablets and large phones, 451px and max 767px) */
@media screen and (min-width: 451px) and (max-width: 767px) {
	.wrapper-detail {
		.info {
			width: 40%;
		}
		.content {
			width: 60%;
		}
	}

	.content {
		.panel {
			.wrapper-card {
				width: 50%;
				.card {
					.body {
						.wrapper-content {
							.avatar {
								width: 75px;
								height: 75px;
							}
						}
					}
				}
			}
		}
	}
}

/* Medium devices (landscape tablets, 768px and up) */
@media screen and (min-width: 768px) {
	.wrapper-detail {
		.info {
			width: 40%;
		}
		.content {
			width: 60%;
		}
	}

	.content {
		.panel {
			.wrapper-card {
				width: 50%;
				.card {
					.body {
						.wrapper-content {
							.avatar {
								width: 75px;
								height: 75px;
							}
						}
					}
				}
			}
		}
	}
}

/* Large devices (laptops/desktops, 992px and up) */
@media screen and (min-width: 992px) {
	.wrapper-detail {
		.info {
			width: 30%;
		}
		.content {
			width: 70%;
		}
	}

	.content {
		.panel {
			.wrapper-card {
				width: 33.3333333%;
				.card {
					.body {
						.wrapper-content {
							.avatar {
								width: 75px;
								height: 75px;
							}
						}
					}
				}
			}
		}
	}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media screen and (min-width: 1200px) {
	.wrapper-detail {
		.info {
			width: 20%;
		}
		.content {
			width: 80%;
		}
	}

	.content {
		.panel {
			.wrapper-card {
				width: 25%;
				.card {
					.body {
						.wrapper-content {
							.avatar {
								width: 80px;
								height: 80px;
							}
						}
					}
				}
			}
		}
	}
}